/* CSS Document */
html {
	margin:0px; padding:0px;
}
.container
{
	width:100%;
	height:100%;
	padding-top:10%;
}
.container .login-content
{
	height:300px;
	width:300px;
	margin:0 auto;
}
input {
	display:block;
	margin:5px 0px;
	width:95%;
	margin:10px auto;
	padding:5px;
	font-size:16px;
	border-radius:5px;
	border:1px #333333 solid;
}
#login-button
{
	width:inherit;
	margin-right:0px;
	padding:3px 5px;
	background-color:#09F;
	border:1px :#09C solid;
	color:#FFF;
	cursor:pointer;
}
