/* CSS Document */
body {
	margin:0px; padding:0px;
}
.main-container
{
	width:1280px;
	margin:0 auto;
}
.header h1.branding
{
	float:left;
}

.header ul.account-group
{
	list-style:none;
	float:right;
	top:0px;
	padding:0px;
	margin:0px;
	background-color:#999;
	color:#FFF;
}

.header ul.account-group li
{
	display:inline-block;
	padding:3px 10px;
}

.header ul.account-group li a
{
	color:#FFF;
	text-decoration:none;
}

.footer, .content
{
	clear:both;
}